@import "general/variables";

@import "general/mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@import "general/header";

main {
  width: 100%;
}

@import "../pages/home/home";
@import "../pages/prendas/prendas";
@import "../pages/donaciones/donaciones";
@import "../pages/nosotras/nosotras";
@import "../pages/contacto/contacto";
@import "general/footer";
