* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.row-reverse {
  flex-direction: row-reverse;
}

.flex-end {
  justify-content: flex-end;
}

/* Home */
header {
  width: 100%;
  height: 80px;
  display: flex;

  background-color: #fff;
  font-size: 22px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: capitalize;
  padding: 20px;
}

.logo {
  color: black;
  font-weight: bold;
}

.barra {
  margin: auto;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: capitalize;
  text-align: center;
}

.barra li {
  list-style: none;
  display: inline;
}

main {
  width: 100%;
  text-align: center;
}

.home-carousel {
  height: 600px;
  width: 100%;
}

.home-carousel img {
  height: 600px;
  width: 100%;
  object-fit: cover;
}

.inspo-section {
  display: flex;
  padding: 20px;
}

.inspo-section-container {
  display: flex;
  flex-direction: column;
  flex: 3;
}

.clothing-piece {
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.clothing-piece img {
  height: 200px;
  width: 200px;
}

.clothing-piece p {
  text-align: left;
}

.inspo-section-container-model {
  display: flex;
  flex: 1;
}

.inspo-section-container-model img {
  width: 100%;
  object-fit: cover;
}

footer {
  background-color: rgb(192, 192, 114);
  display: flex;
  justify-content: center;
  font-size: 30px;
  padding: 50px;
  width: 100%;
}

.redes i {
  font-size: 30px;
  letter-spacing: 20px;
  color: black;
}

.footer-maps {
  flex: 1;
  display: flex;
  justify-content: center;
  font-size: 40px;
}

.footer-text {
  color: black;
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Farsan", cursive;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

.footer-redes {
  font-size: 40px;
  flex: 1;
  display: flex;
  justify-content: space-evenly;
}

footer i {
  color: black;
}

/* Nosotras */

.nosotras-section-container {
  margin-top: 60px;
  margin-bottom: 60px;
}

.nosotras-info {
  padding: 20px;
  display: flex;
  align-items: center;
}

.nosotras-info img {
  height: 500px;
  width: 700px;
  margin-right: 10px;
}
.nosotras-info p {
  text-align: justify;
  margin: 50px;
}

/* Contacto */

.preguntas-frecuentes {
  background-color: rgb(192, 192, 114);
  text-align: center;
  font-size: 40px;
  margin-top: 30px;
}

.preguntas-frecuentes h1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.preguntas-frecuentes p {
  font-size: 20px;
  padding: 50px;
  margin: auto;
  margin-top: 5px;
  width: 60%;
  text-align: justify;
}

.formulario-section {
  margin: 100px;
  margin-top: 60px;
}

.formulario-section fieldset {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  width: 60%;
  margin: auto;
  padding-left: 20px;
  padding-bottom: 30px;
}

.formulario-section input {
  width: 500px;
}

.formulario-section fieldset textarea {
  width: 97%;
}

.input-button-contacto {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}

.formulario-section .button-contacto {
  width: 150px;
}

/* Donaciones */

.step-by-step {
  background-color: rgb(192, 192, 114);
  text-align: center;
  font-size: 40px;
  margin-top: 30px;
}

.step-by-step h1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.step-by-step p {
  font-size: 20px;
  padding: 50px;
  margin: auto;
  margin-top: 5px;
  width: 60%;
  text-align: justify;
}

.formulario-donaciones-sec {
  margin: 100px;
  margin-top: 60px;
}

.formulario-donaciones-sec fieldset {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  width: 60%;
  margin: auto;
  padding-left: 20px;
  padding-bottom: 30px;
}

.formulario-donaciones-sec input {
  width: 500px;
}

.formulario-donaciones-sec textarea {
  width: 97%;
}

.input-button-donaciones {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}

.formulario-donaciones-sec .button-donaciones {
  width: 150px;
}

/* Prendas */
.catalogo-section {
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
  gap: 20px;
}

.filtro-bar {
  display: flex;
  font-size: 30px;
  width: 100%;
  margin: auto;
}

.filtrado {
  flex: 1;
  display: flex;
}

.catalogo-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(3, 400px);
}

.catalogo-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalogo-text p {
  width: 250px;
  text-align: justify;
}

.catalogo-text img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

/* Mobile view */


@media only screen and (max-width: 720px) {
  /* Aquí iría menú hamburguesa */
  .logo,
  .redes {
    display: none;
  }

  .catalogo-section {
    width: 100%;
  }

  .catalogo-container {
    grid-template-columns: auto auto;
    grid-template-rows: unset;
    gap: 25px;
  }

  .catalogo-text img {
    width: 150px;
    height: 200px;
  }

  .catalogo-text p {
    width: 150px;
    font-size: 12px;
  }
}

@media only screen and (max-width: 325px) {
  .catalogo-container {
    grid-template-columns: auto;
  }
}
