footer {
    background-color: rgb(192, 192, 114);
    display: flex;
    justify-content: center;
    font-size: 30px;
    padding: 50px;
    width: 100%;
  
    .footer-maps {
      flex: 1;
      display: flex;
      justify-content: center;
      font-size: 40px;
    }
  
    .footer-text {
      color: black;
      flex: 2;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: "Farsan", cursive;
      font-family: "Roboto", sans-serif;
      font-size: 20px;
      .input-container {
        display: flex;
      }
    }
  
    .footer-redes {
      font-size: 40px;
      flex: 1;
      display: flex;
      justify-content: space-evenly;
    }
    i {
      color: black;
    }
  
    @media screen and (max-width: $tablet) {
      flex-wrap: wrap;
  
      i {
        margin-right: 15px;
      }
  
      .footer-redes {
        order: -1;
        flex: 1.9;
        justify-content: flex-end;
      }
  
      .footer-text {
        flex-basis: 100%;
        flex-direction: column;
      }
  
      .footer-maps {
        justify-content: flex-start;
      }
    }
  }