@mixin responsive($max-width){
  @media screen and (max-width: $max-width) {
    @content;
  }
}

@mixin flex($direction: row, $justify: flex-start, $align: normal, $flex: 0 1 auto, $gap: 0px) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex: $flex;
  gap: $gap;
}

@mixin grid($columns: none, $rows: none, $gap: 0){
    display: grid;
    grid-template-columns: $columns;
    grid-template-rows: $rows;
    gap: $gap;
}
