.step-by-step {
  background-color: rgb(192, 192, 114);
  text-align: center;
  font-size: 40px;
  margin-top: 30px;
  height: 100%;
  min-height: 250px;
  width: 100%;

  .home-carousel{
    height: 100%;
    width: 100%;
  }

  h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
  }

  p {
    font-size: 20px;
    padding: 50px;
    margin: auto;
    margin-top: 5px;
    width: 60%;
    text-align: justify;

    @include responsive($tablet){
      font-size: 12px;
      width: 100%;
    }
  }
}

.formulario-donaciones-sec {
  margin: 100px;
  margin-top: 60px;
  @include flex($justify: center, $align: center);

  @include responsive($tablet) {
    margin: 0;
    margin-top: 15px;
    margin-bottom: 15px;

    .form-row{
      flex-direction: column;
    }
  }

  form {
    width: 60%;
  }
}

.input-button-donaciones {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}

.formulario-donaciones-sec .button-donaciones {
  width: 150px;
}
